.makeStyles-toolbar-6 {
  display: none;
}
.main-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  text-align: left;
}
main {
    overflow: hidden;
}
.MuiListItemIcon-root {
  color: #ffffff !important;
}
@media screen and (min-width: 600px){
.makeStyles-appBar-4 {
    width: calc(100% - 160px) !important;
    margin-left: 160px !important;
}
}
.MuiListItemIcon-root {
  min-width: 26px !important;
}
.MuiList-root a {
  outline: none;
}
nav {
  width: 160px !important;
}
.MuiListItemText-secondary {
color: rgba(255, 255, 255, 0.6) !important;
}
.MuiDrawer-paperAnchorDockedLeft {
  background-color: #202020 !important;
  line-height: 1.4;
  letter-spacing: normal;
  color: rgba(255, 255, 255, 0.6) !important;
}
header {
  box-shadow: none !important;
  background-color: #121212 !important;
  padding-top: 15px;
}
header div.MuiToolbar-root {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.MuiDivider-root {
    background-color: #2e2e2e !important;
}
.hrLine {
    width: 96%;
    background: #2e2e2e !important;
    border: none;
    height: 1px;
}
.main-heading {
    text-align: left;
}
.main-heading a {
    color: #69cdff;
}
.main-top a {
    color: #61d4ff;
    text-decoration: none;
    text-align: left;
}
.MuiListItem-button .MuiTypography-root, h6, button {
  font-family: Poppins !important;
  font-stretch: normal !important;
  font-style: normal !important;
  line-height: 1.4 !important;
  letter-spacing: normal !important;
  color: #ffffff99;
}
.sub-heading {
  color: #ffffff99;
  font-size: 12px;
}
.MuiListItem-button .MuiTypography-root{
  font-size: 14px;
}
ul .MuiListItemAvatar-root {
  min-width: 40px;
}
h1 {
  margin-top: 98px;
    color: white;
    text-align: left;
}